<form>
    <label>Student Form:</label><br>
    <input type="text" id="post_title" name="student[first_name]"><br>
    <input type="text" id="post_title" name="student[last_name]"><br>
    
 
    <input type="submit" value="Submit Student">
</form>
 
<%= params.inspect %>